<ion-content [fullscreen]="true">
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Peliculas Favoritas</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngFor="let genero of favoritoPorGenero">
        <ion-grid *ngIf="genero.pelis.length > 0">
            <ion-row>
                <ion-col>   
                    {{ genero.genero }}
                </ion-col>
            </ion-row>
            <app-slidesshow-poster [peliculasRecientes] = 'genero.pelis'></app-slidesshow-poster>
        </ion-grid>
    </div>
</ion-content>